.address{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
.addform{
    padding-top: 50px;
}
.forminput{
    padding: 10px;
    border-radius: 3px;
}
@media screen and (max-width:768px) {
    .address{
        padding-left: 0;
        padding-right: 0;
    }
}