.cardSection{
    margin-left: 17%;
    margin-right: 17%;
    height: 330px;
    margin-top: 25px;
    box-shadow:0  8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
}

.desc{
    text-decoration: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 2.7em;
    line-height: 1.3em;
}

@media screen and (max-width:768px) {
    
    .cardSection{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        height: 350px;
    }
}
@media (min-width:1020px) and (max-width:1024px) {
        .cardSection{
            margin-left: 10%;
            margin-right: 10%;
        }
}