.mainChange{
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
.forms{
    padding-top: 15px;
}
.changeinput{
    padding: 10px;
}


@media screen and (max-width:768px) {
    .mainChange{
        padding-left: 0;
        padding-right: 0;
    }
}